<div class="header">
    <div class="Title">
        Blog it
    </div>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/About-us"><li>About us</li></a>
        <a href="/Contact-us"><li>Contact us</li></a>
    </ul>
</div>