<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

    <link href="./style/aboutus.css" rel="styleSheet">
    <link href="./style/main.css" rel="styleSheet">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="out">

        <hr width="98%" class="line">
        <div class="aboutus">
            
            <h1 class="heading"> Welcome to “ <span class="web_name"> Blog it </span> ” !!</h1>
            <p class="content">
                At <span class="web_name">Blog it</span>, we believe in the power of words to inspire, inform, and connect people.
                Our mission is simple: to create a space where ideas flourish and conversations thrive.
                Whether you’re here to discover the latest trends, dive deep into insightful commentary, or just enjoy some light reading, we’ve got something for everyone.<br>
                Our team of passionate writers and creators is dedicated to bringing you high-quality content on a wide range of topics.<br>
                From thought-provoking articles and expert opinions to practical tips and engaging stories, we strive to offer content that resonates with you.<br>
            </p>
        </div>
    </div>
</body>
</html>